body{
    background-color: blueviolet;
}
#block{
    border: black solid 1px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}

#point{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid red 1px;
    background-color: red;
}
nav{
    margin: 2vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
